board {
 
  position: relative;
  background-color: rgb(119, 119, 108);
 cursor: pointer;
}
.container {

  height: 300px;
  width: 600px;
}
.disc {
  position: absolute;
  display: block;
  background-color: rgb(114, 131, 104);
  border: 1px solid black;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}